body {
  background-color: rgb(200, 255, 255);
}

h1 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}
.circle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  /* bottom: 25%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .dot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
} */
